<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The pointing gentlemen</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
      integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
  </head>
  <body>
    <div class="container">
      <header class="main-header">
        <h1 class="main-title">The pointing gentlemen</h1>
      </header>
      <section class="controls">
        <p class="info">0 gentlemen pointing at you</p>
        <button class="button button--select">Select all</button>
      </section>
      <main class="main">
        <ul class="gentlemen">
          <li class="gentleman">
            <div class="gentleman__avatar-container">
              <img
                class="gentleman__avatar"
                src="img/fary.jpg"
                alt="The Fary pointing at you"
              />
              <span class="gentleman__initial">F</span>
            </div>
            <div class="gentleman__data-container">
              <h2 class="gentleman__name">The Fary</h2>
              <ul class="gentleman__data-list">
                <li class="gentleman__data">
                  <span class="gentleman__data-label">Profession:</span>
                  Influencer
                </li>
                <li class="gentleman__data">
                  <span class="gentleman__data-label">Status:</span> RIP
                </li>
                <li class="gentleman__data">
                  <span class="gentleman__data-label">Twitter:</span> Pending
                </li>
              </ul>
            </div>
            <i class="icon gentleman__icon fas fa-check"></i>
            <i
              class="icon gentleman__icon gentleman__icon--delete fas fa-times"
            ></i>
          </li>
          <li class="gentleman">
            <div class="gentleman__avatar-container">
              <img
                class="gentleman__avatar"
                src="img/Julio.jpg"
                alt="Julius Churchs pointing at you"
              />
              <span class="gentleman__initial">J</span>
            </div>
            <div class="gentleman__data-container">
              <h2 class="gentleman__name">Julius Churchs</h2>
              <ul class="gentleman__data-list">
                <li class="gentleman__data">
                  <span class="gentleman__data-label">Profession:</span>
                  Youtuber
                </li>
                <li class="gentleman__data">
                  <span class="gentleman__data-label">Status:</span> Alive
                </li>
                <li class="gentleman__data">
                  <span class="gentleman__data-label">Twitter:</span>
                  @julius_churchs
                </li>
              </ul>
            </div>
            <i class="icon gentleman__icon fas fa-check"></i>
            <i
              class="icon gentleman__icon gentleman__icon--delete fas fa-times"
            ></i>
          </li>
          <li class="gentleman">
            <div class="gentleman__avatar-container">
              <img
                class="gentleman__avatar"
                src="img/bertin.jpg"
                alt="Bertin Osbourne pointing at you"
              />
              <span class="gentleman__initial">B</span>
            </div>
            <div class="gentleman__data-container">
              <h2 class="gentleman__name">Bertin Osbourne</h2>
              <ul class="gentleman__data-list">
                <li class="gentleman__data">
                  <span class="gentleman__data-label">Profession:</span>
                  Java developer
                </li>
                <li class="gentleman__data">
                  <span class="gentleman__data-label">Status:</span> Alive
                </li>
                <li class="gentleman__data">
                  <span class="gentleman__data-label">Twitter:</span> @osbourne
                </li>
              </ul>
            </div>
            <i class="icon gentleman__icon fas fa-check"></i>
            <i
              class="icon gentleman__icon gentleman__icon--delete fas fa-times"
            ></i>
          </li>
        </ul>
      </main>
    </div>
  </body>
</html>