:root {
  --background-main-color: #c2e7da;
  --background-secondary-color: #600;
  --background-small-items: #060;
  --main-color: #6290c3;
  --text-color: #000046;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
}

button {
  font-family: inherit;
}